<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Background Cruncher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Complication - StockPriceCheckWidget.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Complication - Wearable Cruncher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>Cruncher Studio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>CruncherCoreTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>CruncherCore_OSX.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CruncherCore_WatchOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CruncherCore_iOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Mobile Cruncher copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Mobile Cruncher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>StockPriceCheck.xcscheme</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>StockPriceCheckWidget.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Wearable Cruncher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>330A8DCC1CAE0FFC00EA9D10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3330A7871C2A7C4300E311A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>333B4D121C3B982700678663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>333B4D281C3B985200678663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>333CFAC01C42210600F7DF6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3378CE351C25435600B9D977</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3378CE711C25440C00B9D977</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33974CAF1C2169BB00FE40CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33974CBD1C216A5700FE40CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33D0779B1C255F2200E4CA6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33D30EA01BCDED0F0095A6B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33D30EC01BCDED380095A6B5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33D4B11C1C2E2E91007A0E1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>33D4B12A1C2E2EA5007A0E1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
